<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <style>
        #app {
            padding-left: 10px;
        }
    </style>
</head>

<body>
    <h1>BMI Calculator</h1>
    <div id="app">
        <p>1 日幣 = 0.21 台幣</p>
        <div>台幣 <input type="text" v-model="twd" v-on:input="twd2jpy" /></div>
        <div>日幣 <input type="text" v-model="jpy" v-on:input="jpy2twd" /></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        // const { createApp, ref } = Vue;
        const vm = Vue.createApp({
            data() {
                return {
                    twd: 0.278,
                    jpy: 1
                }
            },
            methods: {
                twd2jpy() {
                    this.jpy = Number.parseFloat(Number(this.twd) / 0.21).toFixed(2);
                },
                jpy2twd() {
                    this.twd = Number.parseFloat(Number(this.jpy) * 0.21).toFixed(2);
                }
            }
        }).mount('#app');

        $(function () {
            // $('#input_height').change(function() {
            //     vm.$data.height = $('#input_height').val();
            // });
            // $('#input_weight').change(function() {
            //     vm.$data.weight = $('#input_weight').val();
            // });
        });
    </script>
</body>

</html>